<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<title>SHOPCART2</title>
		
	</head>
	<body>
		<!--内容-->
		<div class="shopcart2 pc_hide clearfix">
			<div class="content  shop2_content clearfix">
				<div class="shop2_text  clearfix">
					<div class="left">
						<div class="new_nav pc_hide clearfix">
							<a class="fh" href="###"></a>
							<p>MY ORDERS</p>
							<div class="del delete clearfix">
								<svg t="1539766974948" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5269" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
									<path d="M793.6 998.4H220.16c-51.2 0-97.28-40.96-97.28-97.28V261.12c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v645.12c0 25.6 20.48 46.08 46.08 46.08h573.44c25.6 0 46.08-20.48 46.08-46.08v-563.2c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v563.2c0 46.08-46.08 92.16-97.28 92.16z" p-id="5270" fill="#333"></path>
									<path d="M51.2 266.24c-10.24 0-20.48-10.24-25.6-25.6 0-15.36 10.24-25.6 25.6-25.6l916.48-81.92c15.36 0 25.6 10.24 25.6 25.6s-10.24 25.6-25.6 25.6L51.2 266.24c5.12 0 0 0 0 0z" p-id="5271" fill="#333"></path>
									<path d="M343.04 230.4c-10.24 0-20.48-10.24-25.6-25.6l-5.12-76.8C307.2 87.04 337.92 51.2 378.88 46.08l225.28-20.48c20.48 0 40.96 5.12 56.32 15.36 15.36 10.24 25.6 30.72 25.6 51.2l5.12 81.92c0 15.36-10.24 25.6-25.6 25.6s-25.6-10.24-25.6-25.6l-5.12-81.92c0-10.24-10.24-20.48-25.6-20.48l-225.28 25.6c-5.12 0-10.24 5.12-15.36 10.24-5.12 0-5.12 10.24-5.12 15.36L368.64 204.8c0 10.24-10.24 25.6-25.6 25.6 5.12 0 0 0 0 0zM435.2 768c-15.36 0-25.6-15.36-25.6-30.72V399.36c0-15.36 10.24-40.96 25.6-40.96s25.6 25.6 25.6 35.84v337.92c0 15.36-10.24 35.84-25.6 35.84zM588.8 768c-15.36 0-25.6-15.36-25.6-30.72V465.92c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v271.36c0 15.36-10.24 30.72-25.6 30.72z" p-id="5272" fill="#333"></path>
								</svg>	
							</div>
						</div>
						<ul class="shop2_ul">
							<li class="clearfix">
								<div class="li_modal"> <span>stockout</span></div>
								<label for="" class="dx_label">
									<input class="check_input" value="11"  type="checkbox" />
									<i class="check_i"></i>
								</label>
								<div class="pic_img">
									<a href="###"><img src="img/jpg/pro_det1.jpg" alt="" /></a>
								</div>
								<div class="text">
									<a class="a_bt" href="###">Fuller Peruvian Virgin Hair  Body Wavy Virgin Hair  Body Wavy  </a>
									<p>#1B Natural Black</p>
									<p>10inch 100g</p>
									<p>straight</p>
								</div>
								<div class="price clearfix">
									<p>$35.65<span>$35.65</span></p>
								</div>
								<div class="pre_div">
									<div class="num_div">
										<span class="sub active"></span>
										<input class="num" type="text" value="1" />
										<span class="add"></span>
									</div>
								</div>
								<div class="shanchu clearfix">
									<div class="del shop_close clearfix">
										<svg t="1539766974948" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5269" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
											<path d="M793.6 998.4H220.16c-51.2 0-97.28-40.96-97.28-97.28V261.12c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v645.12c0 25.6 20.48 46.08 46.08 46.08h573.44c25.6 0 46.08-20.48 46.08-46.08v-563.2c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v563.2c0 46.08-46.08 92.16-97.28 92.16z" p-id="5270" fill="#333"></path>
											<path d="M51.2 266.24c-10.24 0-20.48-10.24-25.6-25.6 0-15.36 10.24-25.6 25.6-25.6l916.48-81.92c15.36 0 25.6 10.24 25.6 25.6s-10.24 25.6-25.6 25.6L51.2 266.24c5.12 0 0 0 0 0z" p-id="5271" fill="#333"></path>
											<path d="M343.04 230.4c-10.24 0-20.48-10.24-25.6-25.6l-5.12-76.8C307.2 87.04 337.92 51.2 378.88 46.08l225.28-20.48c20.48 0 40.96 5.12 56.32 15.36 15.36 10.24 25.6 30.72 25.6 51.2l5.12 81.92c0 15.36-10.24 25.6-25.6 25.6s-25.6-10.24-25.6-25.6l-5.12-81.92c0-10.24-10.24-20.48-25.6-20.48l-225.28 25.6c-5.12 0-10.24 5.12-15.36 10.24-5.12 0-5.12 10.24-5.12 15.36L368.64 204.8c0 10.24-10.24 25.6-25.6 25.6 5.12 0 0 0 0 0zM435.2 768c-15.36 0-25.6-15.36-25.6-30.72V399.36c0-15.36 10.24-40.96 25.6-40.96s25.6 25.6 25.6 35.84v337.92c0 15.36-10.24 35.84-25.6 35.84zM588.8 768c-15.36 0-25.6-15.36-25.6-30.72V465.92c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v271.36c0 15.36-10.24 30.72-25.6 30.72z" p-id="5272" fill="#333"></path>
										</svg>	
									</div>
								</div>
							</li>
							<li class="clearfix">
								<label for="" class="dx_label">
									<input class="check_input" value="12"  type="checkbox" />
									<i class="check_i"></i>
								</label>
								<div class="pic_img">
									<a href="###"><img src="img/jpg/pro_det1.jpg" alt="" /></a>
								</div>
								<div class="text">
									<a class="a_bt" href="###">Fuller Peruvian Virgin Hair  Body Wavy   </a>
									<p>#1B Natural Black</p>
									<p>10inch 100g</p>
									<p>straight</p>
								</div>
								<div class="price clearfix">
									<p>$35.65</p>
								</div>
								<div class="pre_div">
									<div class="num_div">
										<span class="sub active"></span>
										<input class="num" type="text" value="1" />
										<span class="add"></span>
									</div>
								</div>
								<div class="shanchu clearfix">
									<div class="del shop_close clearfix">
										<svg t="1539766974948" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5269" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
											<path d="M793.6 998.4H220.16c-51.2 0-97.28-40.96-97.28-97.28V261.12c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v645.12c0 25.6 20.48 46.08 46.08 46.08h573.44c25.6 0 46.08-20.48 46.08-46.08v-563.2c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v563.2c0 46.08-46.08 92.16-97.28 92.16z" p-id="5270" fill="#333"></path>
											<path d="M51.2 266.24c-10.24 0-20.48-10.24-25.6-25.6 0-15.36 10.24-25.6 25.6-25.6l916.48-81.92c15.36 0 25.6 10.24 25.6 25.6s-10.24 25.6-25.6 25.6L51.2 266.24c5.12 0 0 0 0 0z" p-id="5271" fill="#333"></path>
											<path d="M343.04 230.4c-10.24 0-20.48-10.24-25.6-25.6l-5.12-76.8C307.2 87.04 337.92 51.2 378.88 46.08l225.28-20.48c20.48 0 40.96 5.12 56.32 15.36 15.36 10.24 25.6 30.72 25.6 51.2l5.12 81.92c0 15.36-10.24 25.6-25.6 25.6s-25.6-10.24-25.6-25.6l-5.12-81.92c0-10.24-10.24-20.48-25.6-20.48l-225.28 25.6c-5.12 0-10.24 5.12-15.36 10.24-5.12 0-5.12 10.24-5.12 15.36L368.64 204.8c0 10.24-10.24 25.6-25.6 25.6 5.12 0 0 0 0 0zM435.2 768c-15.36 0-25.6-15.36-25.6-30.72V399.36c0-15.36 10.24-40.96 25.6-40.96s25.6 25.6 25.6 35.84v337.92c0 15.36-10.24 35.84-25.6 35.84zM588.8 768c-15.36 0-25.6-15.36-25.6-30.72V465.92c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v271.36c0 15.36-10.24 30.72-25.6 30.72z" p-id="5272" fill="#333"></path>
										</svg>	
									</div>
								</div>
							</li>
							<li class="clearfix">
								<label for="" class="dx_label">
									<input class="check_input" value="13" type="checkbox" />
									<i class="check_i"></i>
								</label>
								<div class="pic_img">
									<a href="###"><img src="img/jpg/pro_det1.jpg" alt="" /></a>
								</div>
								<div class="text">
									<a class="a_bt" href="###">Fuller Peruvian Virgin Hair  Body Wavy Virgin Hair  Body Wavy  </a>
									<p>#1B Natural Black</p>
									<p>10inch 100g</p>
									<p>straight</p>
								</div>
								<div class="price clearfix">
									<p>$35.65<span>$35.65</span></p>
								</div>
								<div class="pre_div">
									<div class="num_div">
										<span class="sub active"></span>
										<input class="num" type="text" value="1" />
										<span class="add"></span>
									</div>
								</div>
								<div class="shanchu clearfix">
									<div class="del shop_close clearfix">
										<svg t="1539766974948" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5269" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
											<path d="M793.6 998.4H220.16c-51.2 0-97.28-40.96-97.28-97.28V261.12c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v645.12c0 25.6 20.48 46.08 46.08 46.08h573.44c25.6 0 46.08-20.48 46.08-46.08v-563.2c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v563.2c0 46.08-46.08 92.16-97.28 92.16z" p-id="5270" fill="#333"></path>
											<path d="M51.2 266.24c-10.24 0-20.48-10.24-25.6-25.6 0-15.36 10.24-25.6 25.6-25.6l916.48-81.92c15.36 0 25.6 10.24 25.6 25.6s-10.24 25.6-25.6 25.6L51.2 266.24c5.12 0 0 0 0 0z" p-id="5271" fill="#333"></path>
											<path d="M343.04 230.4c-10.24 0-20.48-10.24-25.6-25.6l-5.12-76.8C307.2 87.04 337.92 51.2 378.88 46.08l225.28-20.48c20.48 0 40.96 5.12 56.32 15.36 15.36 10.24 25.6 30.72 25.6 51.2l5.12 81.92c0 15.36-10.24 25.6-25.6 25.6s-25.6-10.24-25.6-25.6l-5.12-81.92c0-10.24-10.24-20.48-25.6-20.48l-225.28 25.6c-5.12 0-10.24 5.12-15.36 10.24-5.12 0-5.12 10.24-5.12 15.36L368.64 204.8c0 10.24-10.24 25.6-25.6 25.6 5.12 0 0 0 0 0zM435.2 768c-15.36 0-25.6-15.36-25.6-30.72V399.36c0-15.36 10.24-40.96 25.6-40.96s25.6 25.6 25.6 35.84v337.92c0 15.36-10.24 35.84-25.6 35.84zM588.8 768c-15.36 0-25.6-15.36-25.6-30.72V465.92c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v271.36c0 15.36-10.24 30.72-25.6 30.72z" p-id="5272" fill="#333"></path>
										</svg>	
									</div>
								</div>
							</li>
							<li class="clearfix">
								<label for="" class="dx_label">
									<input class="check_input" value="14"  type="checkbox" />
									<i class="check_i"></i>
								</label>
								<div class="pic_img">
									<a href="###"><img src="img/jpg/pro_det1.jpg" alt="" /></a>
								</div>
								<div class="text">
									<a class="a_bt" href="###">Fuller Peruvian Virgin Hair  Body Wavy   </a>
									<p>#1B Natural Black</p>
									<p>10inch 100g</p>
									<p>straight</p>
								</div>
								<div class="price clearfix">
									<p>$35.65</p>
								</div>
								<div class="pre_div">
									<div class="num_div">
										<span class="sub active"></span>
										<input class="num" type="text" value="1" />
										<span class="add"></span>
									</div>
								</div>
								<div class="shanchu clearfix">
									<div class="del shop_close clearfix">
										<svg t="1539766974948" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5269" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
											<path d="M793.6 998.4H220.16c-51.2 0-97.28-40.96-97.28-97.28V261.12c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v645.12c0 25.6 20.48 46.08 46.08 46.08h573.44c25.6 0 46.08-20.48 46.08-46.08v-563.2c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v563.2c0 46.08-46.08 92.16-97.28 92.16z" p-id="5270" fill="#333"></path>
											<path d="M51.2 266.24c-10.24 0-20.48-10.24-25.6-25.6 0-15.36 10.24-25.6 25.6-25.6l916.48-81.92c15.36 0 25.6 10.24 25.6 25.6s-10.24 25.6-25.6 25.6L51.2 266.24c5.12 0 0 0 0 0z" p-id="5271" fill="#333"></path>
											<path d="M343.04 230.4c-10.24 0-20.48-10.24-25.6-25.6l-5.12-76.8C307.2 87.04 337.92 51.2 378.88 46.08l225.28-20.48c20.48 0 40.96 5.12 56.32 15.36 15.36 10.24 25.6 30.72 25.6 51.2l5.12 81.92c0 15.36-10.24 25.6-25.6 25.6s-25.6-10.24-25.6-25.6l-5.12-81.92c0-10.24-10.24-20.48-25.6-20.48l-225.28 25.6c-5.12 0-10.24 5.12-15.36 10.24-5.12 0-5.12 10.24-5.12 15.36L368.64 204.8c0 10.24-10.24 25.6-25.6 25.6 5.12 0 0 0 0 0zM435.2 768c-15.36 0-25.6-15.36-25.6-30.72V399.36c0-15.36 10.24-40.96 25.6-40.96s25.6 25.6 25.6 35.84v337.92c0 15.36-10.24 35.84-25.6 35.84zM588.8 768c-15.36 0-25.6-15.36-25.6-30.72V465.92c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v271.36c0 15.36-10.24 30.72-25.6 30.72z" p-id="5272" fill="#333"></path>
										</svg>	
									</div>
								</div>
							</li>
						</ul>
					</div>
				
				</div>
				
				<div class="repurchase hg_tc clearfix">
					<a href="###">Order>300$, can get extra purchase at 30%-47% off price !       <span>Browse & Purchase</span></a>
				</div>
				<div class="total  clearfix">
					<label for="" class="qx_label">
						<span>All</span>
						<input class="check_input" type="checkbox" />
						<i class="check_i"></i>
					</label>
					<p>Total: <span>$119.59</span></p>
					<a class="tj_btn" href="###"> CHECK OUT</a>
				</div>
			</div>
		</div>
		
		
		<div class="gwc_pc yd_hide clearfix">
			<div class="text">
				<h1><a class="fh" href="###">Continue Shopping</a> SHOPPING CART</h1>
				
				<div class="qx">
					<label for="" class="qx_label">
						<input class="check_input" type="checkbox">
						<i class="check_i"></i>
						<span>All</span>
						<em class="em4">Total Prices</em>
						<em class="em3">Quantity</em>
						<em class="em2">Unit Price</em>
						<em class="em1">Product Information</em>
					</label>
				</div>
				
				<ul class="shop_ul">
					<li class="clearfix">
						<div class="li_modal"> <span>stockout</span></div>
						<div class="div1 clearfix">
							<label for="" class="dx_label">
								<input class="check_input" value="11" type="checkbox">
								<i class="check_i"></i>
							</label>
							<a class="text" href="###">
								<img class="img1" src="img/jpg/pro_det4.jpg" alt="" />
							</a>
						</div>
						<div class="div2 clearfix">
							<div class="text_p">
								<a href="###">Double Drawn Funmi Hair Super double  drawn straight</a>
								<p>#1B Natural Black</p>
								<p>10inch 100g</p>
								<p>straight</p>
							</div>
						</div>
						<div class="div3">
							<span class="price">
								<i>$36.09 </i>
								<em>$136.09</em>
							</span>
						</div>
						<div class="div4">
							<div class="price_input clearfix">
								<span class="sub active"></span>
								<input class="num" type="text" value="1" readonly="readonly">
								<span class="add"></span>
							</div>
						</div>
						<div class="div5">
							<span class="z_price">$36.09</span>
						</div>
						<div class="div6">
							<div class="shop_close">
								<svg t="1539766974948" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5269" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
									<path d="M793.6 998.4H220.16c-51.2 0-97.28-40.96-97.28-97.28V261.12c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v645.12c0 25.6 20.48 46.08 46.08 46.08h573.44c25.6 0 46.08-20.48 46.08-46.08v-563.2c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v563.2c0 46.08-46.08 92.16-97.28 92.16z" p-id="5270" fill="#333"></path>
									<path d="M51.2 266.24c-10.24 0-20.48-10.24-25.6-25.6 0-15.36 10.24-25.6 25.6-25.6l916.48-81.92c15.36 0 25.6 10.24 25.6 25.6s-10.24 25.6-25.6 25.6L51.2 266.24c5.12 0 0 0 0 0z" p-id="5271" fill="#333"></path>
									<path d="M343.04 230.4c-10.24 0-20.48-10.24-25.6-25.6l-5.12-76.8C307.2 87.04 337.92 51.2 378.88 46.08l225.28-20.48c20.48 0 40.96 5.12 56.32 15.36 15.36 10.24 25.6 30.72 25.6 51.2l5.12 81.92c0 15.36-10.24 25.6-25.6 25.6s-25.6-10.24-25.6-25.6l-5.12-81.92c0-10.24-10.24-20.48-25.6-20.48l-225.28 25.6c-5.12 0-10.24 5.12-15.36 10.24-5.12 0-5.12 10.24-5.12 15.36L368.64 204.8c0 10.24-10.24 25.6-25.6 25.6 5.12 0 0 0 0 0zM435.2 768c-15.36 0-25.6-15.36-25.6-30.72V399.36c0-15.36 10.24-40.96 25.6-40.96s25.6 25.6 25.6 35.84v337.92c0 15.36-10.24 35.84-25.6 35.84zM588.8 768c-15.36 0-25.6-15.36-25.6-30.72V465.92c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v271.36c0 15.36-10.24 30.72-25.6 30.72z" p-id="5272" fill="#333"></path>
								</svg>	
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div class="div1 clearfix">
							<label for="" class="dx_label">
								<input class="check_input" value="12" type="checkbox">
								<i class="check_i"></i>
							</label>
							<a class="text" href="###">
								<img class="img1" src="img/jpg/pro_det4.jpg" alt="" />
							</a>
						</div>
						<div class="div2 clearfix">
							<div class="text_p">
								<a href="###">Double Drawn Funmi Hair Super double  drawn straight</a>
								<p>#1B Natural Black</p>
								<p>10inch 100g</p>
								<p>straight</p>
							</div>
						</div>
						<div class="div3">
							<span class="price">$36.09</span>
						</div>
						<div class="div4">
							<div class="price_input clearfix">
								<span class="sub active"></span>
								<input class="num" type="text" value="1" readonly="readonly">
								<span class="add"></span>
							</div>
						</div>
						<div class="div5">
							<span class="z_price">$36.09</span>
						</div>
						<div class="div6">
							<div class="shop_close">
								<svg t="1539766974948" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5269" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
									<path d="M793.6 998.4H220.16c-51.2 0-97.28-40.96-97.28-97.28V261.12c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v645.12c0 25.6 20.48 46.08 46.08 46.08h573.44c25.6 0 46.08-20.48 46.08-46.08v-563.2c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v563.2c0 46.08-46.08 92.16-97.28 92.16z" p-id="5270" fill="#333"></path>
									<path d="M51.2 266.24c-10.24 0-20.48-10.24-25.6-25.6 0-15.36 10.24-25.6 25.6-25.6l916.48-81.92c15.36 0 25.6 10.24 25.6 25.6s-10.24 25.6-25.6 25.6L51.2 266.24c5.12 0 0 0 0 0z" p-id="5271" fill="#333"></path>
									<path d="M343.04 230.4c-10.24 0-20.48-10.24-25.6-25.6l-5.12-76.8C307.2 87.04 337.92 51.2 378.88 46.08l225.28-20.48c20.48 0 40.96 5.12 56.32 15.36 15.36 10.24 25.6 30.72 25.6 51.2l5.12 81.92c0 15.36-10.24 25.6-25.6 25.6s-25.6-10.24-25.6-25.6l-5.12-81.92c0-10.24-10.24-20.48-25.6-20.48l-225.28 25.6c-5.12 0-10.24 5.12-15.36 10.24-5.12 0-5.12 10.24-5.12 15.36L368.64 204.8c0 10.24-10.24 25.6-25.6 25.6 5.12 0 0 0 0 0zM435.2 768c-15.36 0-25.6-15.36-25.6-30.72V399.36c0-15.36 10.24-40.96 25.6-40.96s25.6 25.6 25.6 35.84v337.92c0 15.36-10.24 35.84-25.6 35.84zM588.8 768c-15.36 0-25.6-15.36-25.6-30.72V465.92c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v271.36c0 15.36-10.24 30.72-25.6 30.72z" p-id="5272" fill="#333"></path>
								</svg>	
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div class="div1 clearfix">
							<label for="" class="dx_label">
								<input class="check_input" value="13" type="checkbox">
								<i class="check_i"></i>
							</label>
							<a class="text" href="###">
								<img class="img1" src="img/jpg/pro_det4.jpg" alt="" />
							</a>
						</div>
						<div class="div2 clearfix">
							<div class="text_p">
								<a href="###">Double Drawn Funmi Hair Super double  drawn straight</a>
								<p>#1B Natural Black</p>
								<p>10inch 100g</p>
								<p>straight</p>
							</div>
						</div>
						<div class="div3">
							<span class="price">$36.09</span>
						</div>
						<div class="div4">
							<div class="price_input clearfix">
								<span class="sub active"></span>
								<input class="num" type="text" value="1" readonly="readonly">
								<span class="add"></span>
							</div>
						</div>
						<div class="div5">
							<span class="z_price">$36.09</span>
						</div>
						<div class="div6">
							<div class="shop_close">
								<svg t="1539766974948" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5269" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
									<path d="M793.6 998.4H220.16c-51.2 0-97.28-40.96-97.28-97.28V261.12c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v645.12c0 25.6 20.48 46.08 46.08 46.08h573.44c25.6 0 46.08-20.48 46.08-46.08v-563.2c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v563.2c0 46.08-46.08 92.16-97.28 92.16z" p-id="5270" fill="#333"></path>
									<path d="M51.2 266.24c-10.24 0-20.48-10.24-25.6-25.6 0-15.36 10.24-25.6 25.6-25.6l916.48-81.92c15.36 0 25.6 10.24 25.6 25.6s-10.24 25.6-25.6 25.6L51.2 266.24c5.12 0 0 0 0 0z" p-id="5271" fill="#333"></path>
									<path d="M343.04 230.4c-10.24 0-20.48-10.24-25.6-25.6l-5.12-76.8C307.2 87.04 337.92 51.2 378.88 46.08l225.28-20.48c20.48 0 40.96 5.12 56.32 15.36 15.36 10.24 25.6 30.72 25.6 51.2l5.12 81.92c0 15.36-10.24 25.6-25.6 25.6s-25.6-10.24-25.6-25.6l-5.12-81.92c0-10.24-10.24-20.48-25.6-20.48l-225.28 25.6c-5.12 0-10.24 5.12-15.36 10.24-5.12 0-5.12 10.24-5.12 15.36L368.64 204.8c0 10.24-10.24 25.6-25.6 25.6 5.12 0 0 0 0 0zM435.2 768c-15.36 0-25.6-15.36-25.6-30.72V399.36c0-15.36 10.24-40.96 25.6-40.96s25.6 25.6 25.6 35.84v337.92c0 15.36-10.24 35.84-25.6 35.84zM588.8 768c-15.36 0-25.6-15.36-25.6-30.72V465.92c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v271.36c0 15.36-10.24 30.72-25.6 30.72z" p-id="5272" fill="#333"></path>
								</svg>	
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div class="div1 clearfix">
							<label for="" class="dx_label">
								<input class="check_input" value="14" type="checkbox">
								<i class="check_i"></i>
							</label>
							<a class="text" href="###">
								<img class="img1" src="img/jpg/pro_det4.jpg" alt="" />
							</a>
						</div>
						<div class="div2 clearfix">
							<div class="text_p">
								<a href="###">Double Drawn Funmi Hair Super double  drawn straight</a>
								<p>#1B Natural Black</p>
								<p>10inch 100g</p>
								<p>straight</p>
							</div>
						</div>
						<div class="div3">
							<span class="price">$36.09</span>
						</div>
						<div class="div4">
							<div class="price_input clearfix">
								<span class="sub active"></span>
								<input class="num" type="text" value="1" readonly="readonly">
								<span class="add"></span>
							</div>
						</div>
						<div class="div5">
							<span class="z_price">$36.09</span>
						</div>
						<div class="div6">
							<div class="shop_close">
								<svg t="1539766974948" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5269" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
									<path d="M793.6 998.4H220.16c-51.2 0-97.28-40.96-97.28-97.28V261.12c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v645.12c0 25.6 20.48 46.08 46.08 46.08h573.44c25.6 0 46.08-20.48 46.08-46.08v-563.2c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v563.2c0 46.08-46.08 92.16-97.28 92.16z" p-id="5270" fill="#333"></path>
									<path d="M51.2 266.24c-10.24 0-20.48-10.24-25.6-25.6 0-15.36 10.24-25.6 25.6-25.6l916.48-81.92c15.36 0 25.6 10.24 25.6 25.6s-10.24 25.6-25.6 25.6L51.2 266.24c5.12 0 0 0 0 0z" p-id="5271" fill="#333"></path>
									<path d="M343.04 230.4c-10.24 0-20.48-10.24-25.6-25.6l-5.12-76.8C307.2 87.04 337.92 51.2 378.88 46.08l225.28-20.48c20.48 0 40.96 5.12 56.32 15.36 15.36 10.24 25.6 30.72 25.6 51.2l5.12 81.92c0 15.36-10.24 25.6-25.6 25.6s-25.6-10.24-25.6-25.6l-5.12-81.92c0-10.24-10.24-20.48-25.6-20.48l-225.28 25.6c-5.12 0-10.24 5.12-15.36 10.24-5.12 0-5.12 10.24-5.12 15.36L368.64 204.8c0 10.24-10.24 25.6-25.6 25.6 5.12 0 0 0 0 0zM435.2 768c-15.36 0-25.6-15.36-25.6-30.72V399.36c0-15.36 10.24-40.96 25.6-40.96s25.6 25.6 25.6 35.84v337.92c0 15.36-10.24 35.84-25.6 35.84zM588.8 768c-15.36 0-25.6-15.36-25.6-30.72V465.92c0-15.36 10.24-25.6 25.6-25.6s25.6 10.24 25.6 25.6v271.36c0 15.36-10.24 30.72-25.6 30.72z" p-id="5272" fill="#333"></path>
								</svg>	
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- 已添加换购产品 -->
			<div class="hg_div clearfix">
				<div class="top clearfix">
					<h3>Extra Purchase Value + Products</h3>
					<button class="hg_tc hg_btn">Reselect</button>
				</div>
				<div class="bot clearfix">
					<ol class="yxhg_ol clearfix">
						<li>
							<div class="close"></div>
							<a href="###">
								<img src="img/jpg/pro_det4.jpg" >
							</a>
							<div class="hg_tetx">
								<div>
									<span class="sp1">7FM-SPL-10-5T</span>
								</div>
								<span class="sp2">$48.00</span>
								<span class="sp3">$48.00</span>
								<span class="sp4">x1</span>
							</div>
							<hr>
						</li>
						<li>
							<div class="close"></div>
							<a href="###">
								<img src="img/jpg/pro_det4.jpg" >
							</a>
							<div class="hg_tetx">
								<div>
									<span class="sp1">7FM-SPL-10-5T</span>
								</div>
								<span class="sp2">$48.00</span>
								<span class="sp3">$48.00</span>
								<span class="sp4">x1</span>
							</div>
							<hr>
						</li>
						<li>
							<div class="close"></div>
							<a href="###">
								<img src="img/jpg/pro_det4.jpg" >
							</a>
							<div class="hg_tetx">
								<div>
									<span class="sp1">7FM-SPL-10-5T</span>
								</div>
								<span class="sp2">$48.00</span>
								<span class="sp3">$48.00</span>
								<span class="sp4">x1</span>
							</div>
							<hr>
						</li>
						<li>
							<div class="close"></div>
							<a href="###">
								<img src="img/jpg/pro_det4.jpg" >
							</a>
							<div class="hg_tetx">
								<div>
									<span class="sp1">7FM-SPL-10-5T</span>
								</div>
								<span class="sp2">$48.00</span>
								<span class="sp3">$48.00</span>
								<span class="sp4">x1</span>
							</div>
							<hr>
						</li>
						<li>
							<div class="close"></div>
							<a href="###">
								<img src="img/jpg/pro_det4.jpg" >
							</a>
							<div class="hg_tetx">
								<div>
									<span class="sp1">7FM-SPL-10-5T</span>
								</div>
								<span class="sp2">$48.00</span>
								<span class="sp3">$48.00</span>
								<span class="sp4">x1</span>
							</div>
							<hr>
						</li>
						<li>
							<div class="close"></div>
							<a href="###">
								<img src="img/jpg/pro_det4.jpg" >
							</a>
							<div class="hg_tetx">
								<div>
									<span class="sp1">7FM-SPL-10-5T</span>
								</div>
								<span class="sp2">$48.00</span>
								<span class="sp3">$48.00</span>
								<span class="sp4">x1</span>
							</div>
							<hr>
						</li>
					</ol>
				</div>
			</div>
			<!-- 未添加换购产品 -->
			<div class="repurchase hg_tc clearfix">
				<p>Order>300$, can get extra purchase at 30%-47% off price !       <span>Browse & Purchase >></span></p>
			</div>
			<div class="total">
				<div class="qx">
					<label for="" class="qx_label">
						<input class="check_input" type="checkbox">
						<i class="check_i"></i>
						<span>All</span>
						<a class="check_a" href="###">CHECK TO</a>
						<p class="p_price">Total: <span>$119.59</span></p>
						
						<em class="delete">Delete The Selected Items</em>
						<em class="wishlist">Move To Wishlist</em>
						
						
						
					</label>
				</div>
			</div>
			
			<div class="modal hg_modal clearfix">
				<div class="texts clearfix">
					<h2>Extra Purchase Value + Products</h2>
					<div class="close"></div>
					<p class="p1">
						Order>300$ / 1000$ / 3000$, can get extra purchase at 30% off / 37% off / 47% off price !  <br>
						Can Add 6pcs max for each order ! <br>
						Order Time: 9th July to 19th July !
					</p>
					<ul class="hg_shop_ul">
						<li class="clearfix">
							<div class="div1 clearfix">
								<label for="" class="dx_labels">
									<input class="check_input" value="12" type="checkbox">
									<i class="check_i"></i>
								</label>
								<a class="text" href="###">
									<img class="img1" src="img/jpg/pro_det4.jpg" alt="" />
								</a>
								<div class="big clearfix">
									<span></span>
								</div>
							</div>
							<div class="div_ol clearfix">
								<ol class="type_ol clearfix">
									<li class="active">7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
								</ol>
								<div class="price">
									<span class="sp1">$24.00</span>
									<span class="sp2">$27.00</span>
								</div>
							</div>
							<div class="div4">
								<div class="price_input clearfix">
									<span class="sub active"></span>
									<input class="num" type="text" value="1" readonly="readonly">
									<span class="add"></span>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="div1 clearfix">
								<label for="" class="dx_labels">
									<input class="check_input" value="12" type="checkbox">
									<i class="check_i"></i>
								</label>
								<a class="text" href="###">
									<img class="img1" src="img/jpg/pro_det4.jpg" alt="" />
								</a>
								<div class="big clearfix">
									<span></span>
								</div>
							</div>
							<div class="div_ol clearfix">
								<ol class="type_ol clearfix">
									<li class="active">7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
								</ol>
								<div class="price">
									<span class="sp1">$24.00</span>
									<span class="sp2">$27.00</span>
								</div>
							</div>
							<div class="div4">
								<div class="price_input clearfix">
									<span class="sub active"></span>
									<input class="num" type="text" value="1" readonly="readonly">
									<span class="add"></span>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="div1 clearfix">
								<label for="" class="dx_labels">
									<input class="check_input" value="12" type="checkbox">
									<i class="check_i"></i>
								</label>
								<a class="text" href="###">
									<img class="img1" src="img/jpg/pro_det4.jpg" alt="" />
								</a>
								<div class="big clearfix">
									<span></span>
								</div>
							</div>
							<div class="div_ol clearfix">
								<ol class="type_ol clearfix">
									<li class="active">7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
								</ol>
								<div class="price">
									<span class="sp1">$24.00</span>
									<span class="sp2">$27.00</span>
								</div>
							</div>
							<div class="div4">
								<div class="price_input clearfix">
									<span class="sub active"></span>
									<input class="num" type="text" value="1" readonly="readonly">
									<span class="add"></span>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="div1 clearfix">
								<label for="" class="dx_labels">
									<input class="check_input" value="12" type="checkbox">
									<i class="check_i"></i>
								</label>
								<a class="text" href="###">
									<img class="img1" src="img/jpg/pro_det4.jpg" alt="" />
								</a>
								<div class="big clearfix">
									<span></span>
								</div>
							</div>
							<div class="div_ol clearfix">
								<ol class="type_ol clearfix">
									<li class="active">7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
								</ol>
								<div class="price">
									<span class="sp1">$24.00</span>
									<span class="sp2">$27.00</span>
								</div>
							</div>
							<div class="div4">
								<div class="price_input clearfix">
									<span class="sub active"></span>
									<input class="num" type="text" value="1" readonly="readonly">
									<span class="add"></span>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="div1 clearfix">
								<label for="" class="dx_labels">
									<input class="check_input" value="12" type="checkbox">
									<i class="check_i"></i>
								</label>
								<a class="text" href="###">
									<img class="img1" src="img/jpg/pro_det4.jpg" alt="" />
								</a>
								<div class="big clearfix">
									<span></span>
								</div>
							</div>
							<div class="div_ol clearfix">
								<ol class="type_ol clearfix">
									<li class="active">7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
									<li>7FM-SPL-10-5T</li>
								</ol>
								<div class="price">
									<span class="sp1">$24.00</span>
									<span class="sp2">$27.00</span>
								</div>
							</div>
							<div class="div4">
								<div class="price_input clearfix">
									<span class="sub active"></span>
									<input class="num" type="text" value="1" readonly="readonly">
									<span class="add"></span>
								</div>
							</div>
						</li>
					</ul>
					<div class="select_total clearfix">
						<span class="sp3">Selected 3/6</span>
						<span class="sp4">Total: <em>$72.00</em></span>
						<a href="###" class="btn">CANCEL</a>
						<a href="###" class="con_btn">CONFIRM</a>
					</div>
				</div>
				
				<div class="modal hg_img_modal clearfix">
					<div class="textss clearfix">
						<img src="" >
						<div class="closes"></div>
					</div>
				</div>
			
			</div>
			
			
		</div>
				
				
			
		<!--返回顶部-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
			<div class="top"><span>TOP</span></div>
		</div>
		
		
	</body>
</html>

<script>
	//判断左右滑动出现删除按钮
	$('body').on('touchstart', '.shop2_content .shop2_ul>li', function(e) {
        var touch = e.originalEvent,
    	startX = touch.changedTouches[0].pageX;
	    $(this).on('touchmove', function(e) {
	    		e.preventDefault();
	    		touch = e.originalEvent.touches[0] ||
	    		    e.originalEvent.changedTouches[0];
	    		if (touch.pageX - startX > 20) {//向左
	    			$(this).find(".shanchu").animate({right:"-0.72rem"},function(){
	    			});
	    		    $(this).off('touchmove');
	    		} else if (touch.pageX - startX < -20) {//向右
	    			$(this).find(".shanchu").animate({right:"0px"},function(){
	    			});
	    		    $(this).off('touchmove');
		    		};
		    });
 
        }).on('touchend', function() {
        $(this).off('touchmove');
    });	
	
	
	$(function(){
		//全选
		$(".qx_label input").click(function(){
			if($(this).prop("checked")){
				$(".qx_label input").siblings(".check_i").addClass("active");
				$(".qx_label input").prop("checked",true);
				$(".dx_label input").each(function(){
					$(this).prop("checked",true);
					$(this).siblings(".check_i").addClass("active");
				})
			}else{
				$(".qx_label input").siblings(".check_i").removeClass("active");
				$(".qx_label input").prop("checked",false);
				$(".dx_label input").each(function(){
					$(this).prop("checked","");
					$(this).siblings(".check_i").removeClass("active");
				})
			}
		})
		//单选
		$(".dx_label input").click(function(){
			const this_index = $(this).parents("li").index();
			if($(this).prop("checked")){
				$(".shop_ul>li").eq(this_index).find(".check_i").addClass("active");
				$(".shop2_ul>li").eq(this_index).find(".check_i").addClass("active");
				$(".shop_ul>li").eq(this_index).find("input").prop("checked",true);
				$(".shop2_ul>li").eq(this_index).find("input").prop("checked",true);
				var len = $(".dx_label .check_i").length;
				var i=0;
				$(".dx_label .check_i").each(function(){
					if($(this).hasClass("active")){
						i++;
						console.log($(this).siblings("input").val())
					}
					return i;
				})
				if(i>=len){
					$(".qx_label input").prop("checked",true);
					$(".qx_label .check_i").addClass("active");
				}
			}else{
				$(".shop_ul>li").eq(this_index).find(".check_i").removeClass("active");
				$(".shop2_ul>li").eq(this_index).find(".check_i").removeClass("active");
				$(".shop_ul>li").eq(this_index).find("input").prop("checked",false);
				$(".shop2_ul>li").eq(this_index).find("input").prop("checked",false);
				$(".qx_label .check_i").removeClass("active");
				$(".qx_label input").prop("checked","");
			}
		})
		
		
		//		数量
		function in_num() {
			$("input.num").each(function(){
				if($(this).val()<=1){
					$(this).siblings(".sub").addClass("active");
				}else{
					$(this).siblings(".sub").removeClass("active");
					
				}
			})
		}
		$(".sub").click(function(){
			var num  = $(this).siblings(".num").val();
			if(num>1){
				num--;
				$(this).siblings(".num").val(num);
				in_num();
			}
		})
		$(".add").click(function(){
			var num  = $(this).siblings(".num").val();
			num++;
			$(this).siblings(".num").val(num);
			in_num();
		})
		
		//多个删除
		$(".delete").click(function(){
			let i =0;
			let len = $(".dx_label .check_i").length;
			$(".dx_label .check_i").each(function(){
				if($(this).hasClass("active")){
					$(this).parents("li").remove();
				}else{
					i++;
					if(i==len){
						tips('You haven`t select any item','gantan');
					}
				}
			})
		})
		
//		单个删除
		$(".shop_close").click(function(){
			$(this).parents("li").remove();
		})
		
		
		//多个收藏
		$(".wishlist").click(function(){
			let i =0;
			let len = $(".dx_label .check_i").length;
			$(".dx_label .check_i").each(function(){
				if($(this).hasClass("active")){
					$(this).parents("li").remove();
				}else{
					i++;
					if(i==len){
						tips('You haven`t select any item','gantan');
					}
				}
			})
		})
		
		//显示换购弹窗
		$(".hg_tc").click(function(){
			$(".hg_modal").fadeIn();
			$("body").css('overflow','hidden');
		})
		//隐藏换购弹窗
		$(".hg_modal .close").click(function(){
			$(".hg_modal").fadeOut();
			$("body").css('overflow','');
		})
		//换购产品单选
		$(".hg_shop_ul .dx_labels input").click(function(){
			const this_index = $(this).parents("li").index();
			if($(this).prop("checked")){
				$(this).prop("checked",true);
				$(this).siblings('.check_i').addClass("active");
			}else{
				$(this).prop("checked",false);
				$(this).siblings('.check_i').removeClass("active");
			}
		})
		//换购产品放大
		$(".hg_modal .big").click(function(){
			$(".hg_img_modal").fadeIn();
			$("body").css('overflow','hidden');
			$(".hg_img_modal .textss img").attr("src",$(this).siblings('.text').find('.img1').attr("src"))
		})
		//隐藏换购图片
		$(".hg_img_modal .closes").click(function(){
			$(".hg_img_modal").fadeOut();
			$("body").css('overflow','');
		})
		$(".hg_img_modal").click(function(e){
			var close = $('.hg_img_modal .textss'); 
			if(!close.is(e.target) && close.has(e.target).length === 0){
				$(".hg_img_modal").fadeOut();
				$("body").css('overflow','');
			}
		})
	})
</script>
		