<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<title>PAYMENT METHOD</title>
	</head>
	<body>
	
				
		
		
	<div class="new_nav pc_hide clearfix">
				<a class="fh" href="###"></a>
				<p>PAYMENT METHOD</p>
		</div>
		<!--内容-->
		<div class="content in_content zf_3  new_in_content pc_hide clearfix">
			<div class="zf_con clearfix">
				<div class="zfbt clearfix">
					<span>3</span>
					<h1>Payment Method</h1>
				</div>
				
				<ul class="pay_ul clearfix">
					<li class=" clearfix">
						<label class="gx clearfix" for="">
							<div class="img"><img src="img/png/new_10_1.png"/></div>
							<p>Naira Account </p>
						</label>
					</li>
					<li class=" clearfix">
						<label class="gx clearfix" for="">
							<div class="img"><img src="img/png/new_10_2.png"/></div>
							<p>PayPal</p>
						</label>
					</li>
					<li class=" clearfix">
						<label class="gx clearfix" for="">
							<div class="img"><img src="img/png/new_10_3.png"/></div>
							<p>Credit Card</p>
						</label>
					</li>
					<li class=" clearfix">
						<label class="gx clearfix" for="">
							<div class="img"><img src="img/png/new_10_4.png"/></div>
							<p>Western Union </p>
						</label>
					</li>
					<li class=" clearfix">
						<label class="gx clearfix" for="">
							<div class="img"><img src="img/png/new_10_5.png"/></div>
							<p>Money Gram</p>
						</label>
					</li>
					<li class=" clearfix">
						<label class="gx clearfix" for="">
							<div class="img"><img src="img/png/new_10_5.png"/></div>
							<p>Bank Transfer</p>
						</label>
					</li>
					<li class=" clearfix">
						<label class="gx clearfix" for="">
							<div class="img"><img src="img/png/new_10_7.png"/></div>
							<p>Bank Transfer</p>
						</label>
					</li>
				</ul>
				
				<div class="bot clearfix">
					<p>If you have coupons, please put  the code in. If not, please submit the order directly.</p>
					<label class="clearfix" for="">
						<input type="text" placeholder="Coupon Code" />
						<button class="qd_btn">CONFIRM</button>
					</label>
					
				</div>
				
				<div class="total clearfix">
					<p>Total: <span>$119.59</span></p>
					<a class="tj_btn" href="###">SUBMIT THE ORDER</a>
				</div>
				
			</div>
		</div>
		
		
	
		
	</body>
</html>
<script type="text/javascript">
	$(function(){
//		支付方式选择
		$(".pay_ul>li").click(function(){
			$(this).addClass("active").siblings().removeClass("active");
			$(".pay_ul>li .ts_p").hide();
		})
		
		$(".bot input").focus(function(){
			$(this).siblings(".qd_btn").css("display","block");
		})
		
		
		//提交
		$(".total .tj_btn").click(function(){
			var i=0;
			var len = $(".pay_ul>li").length;
			$(".pay_ul>li").each(function(){
				if($(this).hasClass("active")){
					//执行提交后的事件
				}else{
					i++;
					if(i==len){
						tips('Please Select Shipping Method','gantan')
					}
				}
			})
		})
	})
</script>